<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Comment Scraper</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">YouTube Comment Scraper</h2>
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="video_link">Enter YouTube Video URL:</label>
                <input type="text" id="video_link" name="video_link" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Fetch Comments</button>
        </form>

        {% if message %}
        <div class="alert alert-info mt-3">{{ message }}</div>
        {% endif %}

        {% if comments %}
        <div class="mt-4">
            <h3>Recent 10 Comments</h3>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item">
                    <strong>{{ comment[0] }}</strong> <em>{{ comment[1] }}</em>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mt-4">
            <h5>Sentiment Counts:</h5>
            <p>Positive Comments: {{ positive_count }}</p>
            <p>Neutral Comments: {{ neutral_count }}</p>
            <p>Negative Comments: {{ negative_count }}</p>
            <p>Spam Comments: {{ spam_count }}</p>
        </div>
        <div class="mt-4">
            <h5>Sentiment Bar Plot</h5>
            <img src="{{ plot_data }}" alt="Sentiment Analysis Bar Plot" />
        </div>
        <div class="mt-4">
            <h5>Most Common Words per Sentiment</h5>
            <img src="{{ word_freq_plot }}" alt="Word Frequency Bar Plots" />
        </div>
        <div class="mt-4">
            <h5>Most Common Phrases per Sentiment</h5>
            <img src="{{ phrase_freq_plot }}" alt="Phrase Frequency Bar Plots" />
        </div>
        <div class="mt-4">
            <h5>Word Cloud of All Comments</h5>
            <img src="{{ word_cloud_data }}" alt="Word Cloud" />
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>